// Paleta de colores
$color-primario: #ef4444;
$color-secundario: #fca5a5;
$color-fondo-oscuro: #000;
$color-fondo-claro: #e0e0e0;
$color-texto-oscuro: #1a1a1a;
$color-texto-claro: #fff;
$color-texto-secundario: #4b5563;
$color-card-fondo: #fff;
$color-card-hover: #f3f4f6;

// Transiciones
$transicion-default: all 0.3s ease;